.App {
    margin-top: 60px;
    display: grid;
    position: relative;
}

.Container {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 6rem);
}

.Output {

}

.PreviousNumber {

}

.CurrentNumber {

}

.ZeroButton {
    border-radius: 40%;
    border: none;
    padding: 10px 20px;
    background: orange;
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background: rgba(169, 169, 169, 0.3);
    width: 100px;
    height: 65px;
}

.ClearContent {
    border-radius: 50%;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background: rgb(169, 169, 169);
    width: 60px;
    height: 60px;
}

.DelButton {
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background: rgb(169, 169, 169);
    width: 110px;
}

.CalculateButton {
    border-radius: 50%;
    border: none;
    padding: 10px 20px;
    background: orange;
    font-size: 2em;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    width: 60px;
    height: 60px;
}


.NumberButton {
    border-radius: 50%;
    border: none;
    background: orange;
    font-size: 2em;
    cursor: pointer;
    color: white;
    background: rgba(169, 169, 169, 0.3);
    height: 60px;
    width: 60px;
}

